.main {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__wrapper {
        display: flex;
        justify-content: center;
        background-color: #E5E5E5;
        height: calc(100vh - 60px);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        background-color: #FFFFFF;
        padding: 8px 0 8px 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: relative;
        z-index: 10;

        &-wrap {
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__lnk {
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        margin-right: 10px;
        padding-bottom: 12px;
        color: #333333;
    }

    &__user {
        &-profile {
            display: flex;
            align-items: center;
            margin-right: 20px;
        }

        &-name {
            font-family: 'Roboto', sans-serif;

            margin-right: 10px;
        }

        &-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;

            &-wrapper {
                max-width: 42px;
                max-height: 42px;
                background: conic-gradient(#FF6161, #7B61FF, #FF6161, #7B61FF, #FF6161, #7B61FF, #FF6161);
                padding: 1px;
                border-radius: 50%;

            }
        }
    }

    &__login {
        &-from {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 200px;
            background-color: #FFFFFF;
            width: 300px;
            height: 288px;
            border-radius: 2%;
            box-shadow: 0 0 5px #B5B5B5;
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            width: 240px;
        }

        &-title {
            font-family: 'Roboto', sans-serif;

            margin-bottom: 30px;
        }

        &-field {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}